/* stylesheet */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.top {
    text-align: center;
}

button {
    background-color: white;
    border-radius: 5px;
    border-color: grey;
    border-width: 500;
    padding: 1px 10px;
}

table {
    width: 100%;
}

table,
tr,
td {
    border: 1px solid rgb(145, 144, 144);
    border-collapse: collapse;
    text-align: center;
    height: 40px;
}

.table2 td {
    width: 70px;
}

.table2 tr #task {
    width: 50%;
}

#task-description {
    width: 850px;
    width: 62%;
}

.table-tab {
    margin: 0px 10px;
}

.table-tab input,
.table-tab button {
    margin: 0px 5px;
}

.table-tab button {
    width: 6%;
}

input::placeholder {
    color: black;
    padding-left: 10px;
}

#top {
    color: #111;
    background: #b90a0a;
    border: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid rgb(109, 108, 108);
}

img {
    margin-left: -10px;
    height: 45px;
    width: 45px;
}

.btn1 {
    padding: 1px 10px;
    height: max-content;
}
