/* stylesheet */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.top {
    text-align: center;
}

button {
    background-color: white;
    border-radius: 5px;
    border-color: grey;
    border-width: 500;
    padding: 1px 10px;
}

table {
    background-color: white;
    color: black;
    width: 100%;
}

table,
tr,
td {
    border: 1px solid rgb(145, 144, 144);
    border-collapse: collapse;
    text-align: center;
    height: 40px;
}

.table2 td {
    width: 70px;
}

.table2 tr #task {
    width: 50%;
}

#start-time {
    padding-left: 10px;
}

#start-time::placeholder {
    padding-left: 0px;
}

#end-time {
    padding-left: 10px;
}

#end-time::placeholder {
    padding-left: 0px;
}

#task-description {
    width: 63%;
    padding-left: 10px;
}

#task-description::placeholder {
    padding-left: 0px;
}

.table-tab {
    margin: 0px 10px;
}

.table-tab input,
.table-tab button {
    margin: 0px 5px;
}

input::placeholder {
    color: black;
    padding-left: 10px;
}

#top {
    color: #111;
    background: #b90a0a;
    border: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid rgb(109, 108, 108);
}

img {
    margin-left: -10px;
    height: 45px;
    width: 45px;
}

.btn1 {
    padding: 1px 10px;
    height: max-content;
}

.bottom {
    display: flex;
}

.two {
    margin-left: 50px;
}

.time-picker {
    width: 185px;
    position: absolute;
    display: inline-block;
    background: #e0dfd9;
    border-radius: 0px;
    border: 1px solid black;
    padding: 2px 33px;
}

.time-picker__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px 5px;
    background: #ffffff;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
}
